.margin{
    margin:8px
}
body{
   display:flex; flex-direction:column; justify-content:center;
   min-height:100vh;
   animation: fadeInAnimation ease 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
#heading{
  animation: scale-in ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes scale-in {
  0% {
    font-size: 0px;
  }
  100% {
    font-size: 50px;
  }
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}