.main{
    color:"blue";
    overflow: hidden;
    background:rgba(44, 130, 201);
    color: white;
    margin:0
}
.nextLine{
    margin:10px;
    display: block;
}
body{
    min-height: 100vh;
}
html {
    min-height: 100vh;
}